@using shopapp.Models
@model Product

<div class="card">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="/product/details/@Model.ProductId" class="btn btn-primary btn-sm">İncele</a>
        <a href="/product/edit/@Model.ProductId" class="btn btn-primary">Edit</a>
        <form method="post" action="/product/delete">
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
